<a href="https://colab.research.google.com/github/Omarnot2far/End-to-End-DataScience-project-internship/blob/main/webscrappin_BritishAirline_Reveiw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)

In [87]:
pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)

# Web Scrapping

In [88]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Define the URL pattern
url_pattern = 'https://www.airlinequality.com/airline-reviews/british-airways/page/{}/'

# Initialize empty lists to store the data
data = []

# Loop through all the pages
for page in range(1, 101):
    # Make a request to the webpage
    url = url_pattern.format(page)
    response = requests.get(url)
    
    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find all the reviews on the page
    reviews = soup.find_all('article', {'itemtype': 'http://schema.org/Review'})
    
    # Loop through the reviews and extract the data
    for review in reviews:
        rating = review.find('span', {'itemprop': 'ratingValue'}).text
        headline = review.find('h2', class_='text_header').text
        author = review.find('span', {'itemprop': 'author'}).text
        time = review.find('time', {'itemprop': 'datePublished'}).text
        location = review.find('h3', class_='text_sub_header userStatusWrapper').text
        content = review.find('div', class_='text_content').text

        data.append({'rating': rating, 'headline': headline, 'author' : author, 'time': time, 'location': location, 'content': content})

# Convert the list of dictionaries to a pandas DataFrame
df = pd.DataFrame(data, columns=['rating', 'headline', 'author', 'time', 'location', 'content'])
print(df)

    rating                                  headline              author  \
0        1          "most appalling airline service"           \nC Peale
1        1            "Customer service is shocking"     \nJason Wickert
2        1                     "Avoid this airline"          \nS Dasirou
3        2         "a lot of actual lies being told"  \nAlexander George
4        5  "premium price for very average service"           \nG Jones
..     ...                                       ...                 ...
995      1               "first and last experience"           \nH Reyes
996      1       "charged £65 to bring my bike back"        \nMark Howes
997      1          "queue for bag drop was massive"            \nL Wang
998      1                       "they did not care"        \nDavid Moss
999      8           "always had a great experience"   \nKirsten Durward

                time                                           location  \
0       8th May 2023               \n\nC Peale (Australia) 8th May 2023
1       6th May 2023    \n\nJason Wickert (United Kingdom) 6th May 2023
2       6th May 2023        \n\nS Dasirou (United Kingdom) 6th May 2023
3       1st May 2023  \n\nAlexander George (United Kingdom) 1st May ...
4    28th April 2023       \n\nG Jones (United Kingdom) 28th April 2023
..               ...                                                ...
995    9th July 2018                \n\nH Reyes (Ireland) 9th July 2018
996    9th July 2018      \n\nMark Howes (United Kingdom) 9th July 2018
997    8th July 2018          \n\nL Wang (United Kingdom) 8th July 2018
998    5th July 2018      \n\nDavid Moss (United Kingdom) 5th July 2018
999   29th June 2018  \n\nKirsten Durward (United Kingdom) 29th June...

                                               content
0    ✅ Trip Verified |  I will never travel with Br...
1    ✅ Trip Verified |  I am already in Portugal so...
2    ✅ Trip Verified |  Terrible. Avoid this airlin...
3    ✅ Trip Verified |  Despite being a gold member...
4    Not Verified | Regarding the aircraft and seat...
..                                                 ...
995  ✅ Trip Verified |  Had four flights in total w...
996  ✅ Trip Verified |  Johannesburg to Heathrow. B...
997  ✅ Trip Verified |  The queue for bag drop was ...
998  ✅ Trip Verified |  British Airways changed pla...
999  ✅ Trip Verified |  Mumbai to Edinburgh via Lon...

[1000 rows x 6 columns]

In [89]:
df.head()

,rating,headline,author,time,location,content
0,1,"""most appalling airline service""",\nC Peale,8th May 2023,\n\nC Peale (Australia) 8th May 2023,✅ Trip Verified | I will never travel with Br...
1,1,"""Customer service is shocking""",\nJason Wickert,6th May 2023,\n\nJason Wickert (United Kingdom) 6th May 2023,✅ Trip Verified | I am already in Portugal so...
2,1,"""Avoid this airline""",\nS Dasirou,6th May 2023,\n\nS Dasirou (United Kingdom) 6th May 2023,✅ Trip Verified | Terrible. Avoid this airlin...
3,2,"""a lot of actual lies being told""",\nAlexander George,1st May 2023,\n\nAlexander George (United Kingdom) 1st May ...,✅ Trip Verified | Despite being a gold member...
4,5,"""premium price for very average service""",\nG Jones,28th April 2023,\n\nG Jones (United Kingdom) 28th April 2023,Not Verified | Regarding the aircraft and seat...

In [90]:
df.shape

(1000, 6)

In [116]:
df.to_csv('britishair_data', index=False)